@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

:root {
	--grey: #d6d6d6;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	background: linear-gradient(to right, #050a0c, #2c5364);
	color: white;
}

nav {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	place-items: center;
	align-items: center;
	border-bottom: 1px solid white;
}
nav h1 {
	grid-area: 1 / 1 / 2 / 3;
}
nav ul {
	grid-area: 1 / 3 / 2 / 6;
	border-left: 1px solid white;
	height: 100%;
	display: flex;
	margin: 0;
	align-items: center;
	list-style-type: none;
}
nav ul li {
	margin-right: 20px;
	font-size: 13px;
	cursor: pointer;
}
nav ul li:hover {
	color: var(--grey);
}
nav ul #label {
	display: none;
}

.content {
	margin: 5%;
}
.content .about {
	display: flex;
	justify-content: space-between;
}
.content .about p {
	max-width: 150px;
	font-size: 13px;
	color: var(--grey);
}
.content h1 {
	font-size: 5vw;
}
.content img {
	width: 100%;
	border-radius: 10px;
	transition: filter 0.5s;
}
.content img:hover {
	filter: brightness(80%);
}

.testimonials {
	margin: 5%;
}
.testimonials .testimonial {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: none;
	border: 1px solid var(--grey);
	padding: 20px;
	border-radius: 10px;
}
.testimonials .testimonial h1 {
	margin: 0;
}
.testimonials .testimonial blockquote cite {
	font-weight: 300;
}
.testimonials #two,
.testimonials #three {
	display: none;
}

footer {
	position: sticky;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	padding: 30px;
	background-color: #050a0c;
	border-top: 1px solid white;
}
footer .column {
	border-left: 1px solid white;
	padding-left: 30px;
	cursor: pointer;
}
footer .column:hover {
	color: var(--grey);
}

@media screen and (max-width: 768px) {
	nav {
		padding: 10px;
		display: flex;
		justify-content: space-between;
	}
	nav ul {
		border-left: none;
	}
	nav ul li {
		display: none;
	}
	nav ul #label {
		display: block;
	}

	nav.responsive {
		position: relative;
		display: block;
	}
	nav.responsive ul {
		display: block;
		padding: 0;
		text-align: center;
	}
	nav.responsive ul li {
		display: block;
	}
	nav.responsive ul #label {
		position: absolute;
		right: 10px;
		top: 36px;
	}

	footer {
		flex-direction: column;
		align-items: center;
	}
	footer .column {
		border-left: none;
		padding-left: 0;
		margin-bottom: 10px;
	}
}
